.mainLayout {
  display: flex;

  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--contrast-bg-color);
  block-size: 100dvh;
  gap: 0;
}

.mainWrapper {
  overflow-y: auto;
  inline-size: 100%;
  block-size: 100%;
  padding-top: 80px; // Отступ для фиксированного хэдэра

  @media (max-width: 768px) {
    padding-top: 70px; // Меньший отступ для мобильных устройств
  }
}

.contentArea {
  position: relative;
  max-inline-size: 1600px;
  margin: 0 auto;
  padding: 30px;

  @media (max-width: 1400px) {
    padding: 20px;
  }

  @media (max-width: 768px) {
    padding: 15px;
  }
}

.contentWrapper {
  margin: 0 auto;
  max-inline-size: 1200px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--main-bg-color);

  @media (max-width: 1250px) {
    margin: 0 50px;
  }

  @media (max-width: 768px) {
    margin: 0 15px;
    padding: 20px;
  }
}

.homePageContent {
  background-color: var(--contrast-bg-color);
}
