.mainLayout {
  display: flex;

  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--contrast-bg-color);
  block-size: 100dvh;
  gap: 0;
}

.mainWrapper {
  overflow-y: auto;
  inline-size: 100%;
  block-size: 100%;
}

.contentWrapper {
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  max-inline-size: 1200px;

  @media (max-width: 1250px) {
    margin: 30px 50px;
  }

  @media (max-width: 768px) {
    margin: 30px 15px;
  }

  // На больших экранах contentWrapper остается по центру
  @media (min-width: 1401px) {
    margin: 30px auto;
    max-inline-size: 1200px;
  }
}

.homePageContent {
  background-color: var(--contrast-bg-color);
}
