.listItem {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--text-color);

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    font-size: 0.875rem;
  }
}

// Убираем маркер для ListItem, содержащих вложенный список
.hasNestedList {
  list-style-type: none;
}