.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: var(--main-bg-color);
  inline-size: 100%;
  block-size: 70px;
  border-block-end: 3px solid var(--contrast-bg-color);
  position: relative;
  z-index: 15; // Увеличиваем z-index, чтобы хедер был поверх сайдбара
}

.logoContainer {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease, color 0.2s ease;
  color: var(--main-text-color, #fff);
  gap: 12px;

  &:hover {
    transform: scale(1.02);
    opacity: 0.9;
    color: inherit;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.logo {
  transition: transform 0.3s ease;
  inline-size: 50px;
  block-size: 50px;
  object-fit: contain;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));

  &:hover {
    transform: rotate(5deg);
  }

  @media (max-width: 768px) {
    inline-size: 40px;
    block-size: 40px;
  }
}

.headerButtons {
  display: flex;
  align-items: center;
  gap: 24px;

  a {
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
    padding: 6px 4px;
    transition: color 0.2s ease;
    color: var(--text-color);

    &:hover {
      color: #9499ff;
    }

    &.active {
      font-weight: 600;
      transition: width 0.3s ease;
      color: #9499ff;

      &::after {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        border-radius: 1px;
        background-color: #6369ff;
      }
    }
  }

  @media (max-width: 768px) {
    display: none; // Скрываем обычное меню на мобильных устройствах
  }
}